@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Merriweather:wght@300&family=Montserrat:wght@500&family=Oswald&family=Play&family=Playfair+Display:wght@600&family=Roboto+Slab:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.first-section{
  background-image: url('../public/bgc.png');
  background-size:cover; 
  width: 100%;
  margin: 0;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
}
 /* section {
  /* background-image: url('../public/bgc.png');
  background-size:cover; 
  width: 100vw;
  margin: 0;
  height: 96vh;
  padding: 0;
}  */
body {
  /* background-image: url('../public/bgc.png');
  background-size:cover;  */
  width: 100%;
   margin: 0; 
  height: 100vh;
   margin: auto;  
}

section
{
    width: 100%;
    height: 100vh;
     position: relative; 
    display: flex;
    
    letter-spacing: 1px;
}


.back-pic {
 
}

.headline {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.headline-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}

.headline-button {
display: flex;

}

.headbutton {
  width: 277px;
  margin-top: 20px;
  height: 46px;
  text-decoration: none;
  background: none;
  color: #FFFFFF;
  border-color: #FFFFFF;
  border: 1px solid ;
  cursor: pointer;
  font-size: 14px;
}
.headbutton:active{
  transform: translate(0, 0.1rem);
  
  box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, 0.3);
  

}
.headbutton:hover {
  background-color: rgba(255, 255,255,0.2);
  /* transform: translate(0, 0.1rem);  */
  /* transform: scale(1.00); */
}

.body-button{
  margin-top: 598px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.body-button-center {
  margin-right: 15px;
  margin-left: 15px;
  width: 203px;
  height: 50px;
  background: #99862A;
  border: none;
  color: white;
  cursor: pointer;
}
.body-button-center:hover {
  /* background-color: rgba(255, 255,255,0.2); */
  filter: brightness(120%)
}

.body-button-center:active{
  transform: translate(0, 0.1rem); 
  box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, 0.3);
  
}

.body-area {
  background: #282828;
display: flex;
  justify-content: center;
    align-items: center;
 
}

.body-area-box {
  display: flex;
 align-items: center;
  flex-direction: column;
  width: 1110px;
  height: 656px;
  border: 1px solid white;
}
.body-area-line{
  margin-top: 40px;
 width: 160px;
 height: 1px;
 border: 1px solid white;

}

h2 {
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 36px;
}


.body-area-text {
  margin-top: 40px;
  width: 733px;
  height: 192px;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 16px;
  text-align: center;
}

.body-area-head {
margin-top: 60px;
height: 54px;
width: 806px;
display: flex;
justify-content: center;
align-items: center;
}

.logo2{
height: 160px;
width: 160px;
margin-top: 60px;
}

.bodysecond-area2 {
  background-color: #E6E3C4;
  display: flex;
   flex-direction: column;
  height: 1038px;
}

.bodysecond-area2-line {
  display: flex;
  color: #998431;
  width: 1110px;
  margin-top: 80px;
 height: 1px;
 border: 1px solid #998431;
}

.bodysecond {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bodysecond-area2-leftbox {
  width: 570px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bodysecond-area2-rightbox {
  width: 540px;
  display: flex;
 margin-top: 60px;
  flex-direction: column;
  
}

.Rectandle11 {
width: 540px;
height: 500px;
}

.Rectandle12 {
width: 255px;
height: 229px;
}

.Rectandle13 {
  width: 255px;
  height: 229px;
}

.rightbox-wrap {
display: flex;
justify-content: space-between;
margin-top: 30px;

}
.rightbox-headpic {
 display: flex;
 justify-content: end;
}

.leftbox-collection{
  font-weight: 400;
  font-size: 16px;
}

.leftbox-headname{
  font-size: 36px;
  color: black;
  line-height: 150%;
}

.leftbox-line {
  width: 160px;
  background: #282828;
  border: 0.5px solid #282828;
 margin: 0;
}

.leftbox-uppertable {
  margin-top: 30px;
  font-size: 14px;
  line-height: 150%;
  font-style: normal;
  width: 445px;
}

.wrapper {
  display: grid;
  grid-template-columns: 75px 370px ;
}

.line23 {
  width: 73px;
}

.leftbox-table{
  margin-top: 30px;
  border-spacing: 0;
  border-top: 0;
  width: 445px;
}

table td {
  
  border-top: 0;
  border: 1px solid #282828;
  text-align: center;
  padding: 15px 30px;
}

.table-noneline{
  border-left:0;
  border-top: 0;
  width: 75px;
  height: 73px;
}

.table-noneline2 {
  border-top: 0;
  border-right: 0;
  
}

.table-noneline3 { 
border-left: 0;
height: 73px;
}
.table-noneline4{ 
  border-right: 0;
}

.table-noneline5 {
border-left: 0;
border-bottom: 0;
height: 73px;
}

.table-noneline6 {
border-right: 0;
border-bottom: 0;
}

.table-uptext {
  width: 303px;
  margin: 0px;
  font-size: 18px;
line-height: 150%;
font-family: 'Playfair Display';
letter-spacing: 0px;
height: 27px;
}

.table-downtext {
  padding: 5px;
  width: 291px;
height: 21px;
font-weight: 400;
font-size: 14px;
line-height: 150%;
letter-spacing: 0px;
margin: 0;

}

.leftbox-undertable_text {
  margin-top: 30px;
  width: 445px;
  height: 84px;
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
}

.leftbox-undertable_button {
  margin-top: 30px;
  margin-right: 15px;
  width: 254px;
height: 50px;
  background: #99862A;
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
}

.leftbox-undertable_button:hover {
  /* background-color: rgba(200, 200,200,0.1); */
  filter: brightness(120%)
}

.leftbox-undertable_button:active{
  transform: translate(0, 0.1rem); 
  box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, 0.3);
  
}